// Varibles
$website-width:1280px;
$font-stack: 'Dosis', sans-serif;
$light-color: #f4f4f4;
$medium-color:#ccc;
$bg-img:url('../img/showcase.png');
$dark-color: #333;
$primary-color: rgb(64, 176, 54);
$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;
$py-1: 0 1rem;
$py-2: 0 2rem;
$py-3: 0 3rem;
