@import '_config';
@import '_utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-stack;
  line-height: 1.5;
  background: $bg-img no-repeat center right/cover;
  height: 100vh;
}
a {
  text-decoration: none;
  color: $dark-color;
  border: none;
}
ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}
// Header
#header {
  &_home {
    background: $bg-img no-repeat center right/cover;
    height: 100vh;
    color: #fff;
  }
}
