@import 'variables';
@import 'functions';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $secondary-color;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.5;
}
header {
  background: $light-color;
  color: set-text-color($light-color);
  padding: $p-1rem;

  h1 {
    text-align: center;
  }
}
.section {
  padding: 1.5rem;
  h3 {
    font-size: 25px;
    text-align: center;
    color: $light-color;
  }
  &-a,
  &-b {
    background: $primary-color;
    border: 1px solid black;
  }
}
a {
  text-decoration: none;
  color: $light-color;
  &:hover {
    color: $dark-color;
  }
}

%btn-shared {
  display: inline-block;
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0.25rem;
}

.btn {
  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: set-text-color($dark-color);
  &:hover{
    @include transform(rotate(90deg))
  }
  }
}
